$top_background_color: #ffffff;
$main-color: #ffffff;
$main_font_color: #ffffff;

$danger_color: #d43131;
$primary_color: #409eff;
$success_color: #36a200;
$warning-color: #dc8400;

.success-color{
    color: $success-color;
}
.danger-color{
    color: $danger-color;
}
.warning-color{
    color: $warning-color;
}
.success-background-color{
    background-color: $success-color;
}
.danger-background-color{
    background-color: $danger-color;
}
.warning-background-color{
    background-color: $warning-color;
}
/* mixin-长度省略符号 */
@mixin text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin webkit-scrollbar{
    &::-webkit-scrollbar {
        width: 6px; // 横向滚动条
        height: 6px; // 纵向滚动条 必写
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ddd;
        border-radius: 3px;
    }
}
